body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}


/* Media Queries */

#socialmediafooter {
    position: fixed;
    background: #9ab6ce;
    bottom: 0;
    width: 100%;
}

@media all and (min-width: 414px) {
    #socialmedia {
        visibility: hidden;
    }

    footer {
        visibility: visible;
    }
}
