body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Media Queries */

#socialmediafooter {
    position: fixed;
    background: #9ab6ce;
    bottom: 0;
    width: 100%;
}

@media all and (min-width: 414px) {
    #socialmedia {
        visibility: hidden;
    }

    footer {
        visibility: visible;
    }
}
